<nav
    class="navbar navbar-expand-sm navbar-light bg-custom" style="position:fixed; width: 100%; z-index: 2; background-color: rgba(0, 0, 1, 0.301);"  
>
    <div class="container" >
        <a class="navbar-brand" href="#" style="color:white"><img src="https://s7ap1.scene7.com/is/content/incredibleindia/incredible-india-logo?qlt=82&ts=1727762218512" width="100px" height="50px"></a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li  class="nav-item" routerLink = "" style="color:white; margin-right: 10px;">
                        Home
                </li>
                <li  class="nav-item" routerLink="statesPage" style="color:white" >
                    States
                </li>
                
            </ul>
            <form class="d-flex my-2 my-lg-0">
                <input
                    class="form-control me-sm-2"
                    type="text"
                    placeholder="Search"
                    id="search"
                    style="background-color: transparent;"
                />
                <button
                    class="btn btn-outline-success my-2 my-sm-0"
                    type="submit"
                >
                    ?
                </button>
            </form>
        </div>
    </div>
</nav>
