<div id ="div1"class="max-w-sm bg-custom border border-gray-200 rounded-lg shadow :bg-gray-800 :border-gray-700" style="width: 50vw; border-radius:30px; background-color: #f7f0ea;">
    <a href="#">
      <img class="rounded-t-lg"  [src]="data.images[0]" alt="" />
    </a>
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 :text-white">{{data[0].title}}</h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 :text-gray-400"></p>

    </div>
  </div>