div{
    z-index: 0;
    position: relative;
    height: 50vh;
}
img{
    height: 90vh;
}

.carousel-item-container {
    position: relative;
  }


#stateHeading{
    position: absolute;
    top: 99%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10; 
    color: white;
    text-align: center;
    

}